
@{
    ViewBag.Title = "ProfileTemplate";
}

<div id="profile-shared-view">
    <div id="profile-photo">

    </div>
    <div id="cover">
        Аз съм картинка
        <div id="menu">
            <div>
                <a class="profile-menu-buttons" href="../Profile/MyPosts" type="button">My Posts</a>
                <a class="profile-menu-buttons" href="../Posts/Create" type="button">Create Post</a>
                <a class="profile-menu-buttons" href="#" type="button">Followers</a>
                <a class="profile-menu-buttons" href="../Manage" type="button">Settings</a>
            </div>
        </div>
    </div>
</div>

