body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post>h2, .post>div {
    background: #EEE;
    padding: 10px;
    margin: 0;
}

.post>h2 {
    margin-top: 15px;
}

.sideBar {
   
    background: #EEE;
    padding: 10px;
    margin: 0;
    float: right;
}

#profile-shared-view {
    display: inline-block;
    margin: auto 0px;
    width: 1140px;
    height:450px;
    color: red;

}

#profile-photo {
    position: absolute;
    top: 230px;  
    margin-left: 70px;
    height: 270px;
    width: 270px;
   
    border: solid;
    border-color: white;
    border-radius: 5px;
    background-color: #dcdcdc;
    z-index: 3;
    overflow: hidden;
}

#profile-photo:hover #upload-picture-profile>div{
    opacity: 1;
}

#upload-picture-profile {
  margin-left: 165px;
  color: white;
  font-weight:400;
}

#upload-picture-profile input {
    width: 93px;
    opacity: 0;
}

#upload-picture-profile div {
    position: absolute;
    opacity: 0;

}

#upload-picture-profile:hover{
    font-style: italic;
    font-weight:400;
    color: #888;
}
#upload-picture-profile:active{
    font-style: italic;
    color: black;
}

#cover { 
    position: relative;
    margin: auto 0px;
    height: 400px;
    width: 1140px;
    background-color: #dcdcdc;
    overflow: hidden;
    z-index:2;
}

#upload-picture-cover {    
    margin-left: 10px;
    color: white;
    font-size: 20px;
    font-weight:400;
}

#cover:hover #upload-picture-cover>div{
    opacity: 1;
}


#upload-picture-cover input {
    width: 93px;
    opacity: 0;
}

#upload-picture-cover div {
    position: absolute;
    opacity: 0;

}

#upload-picture-cover:hover{
    font-style: italic;
    color: #888;
}

#upload-picture-cover:active{
    font-style: italic;
    color: black;
}

.image {
    position: absolute;
}

.landscape {
    height: inherit;
    width: auto;
    align-content: center;
}
.portrait {
    width:inherit;
    height: auto;
}

.landscape-cover{
    width: inherit;
    height: auto;
}

#menu {
    background-color: black;
    height: 80px;
    margin-top: 300px;
    opacity: 0.89;
}
#menu>div {
    margin-left: 30%;
    height: inherit;
}

a.profile-menu-buttons:link, a.profile-menu-buttons:visited {
    display:inline-block;
    text-decoration: none;
    text-shadow: inherit;
    font-size: 20px;

    height: inherit;
    width: auto;
    padding-top: 22px;
    padding-left: 50px;
    padding-right: 50px;

    color: #808080
}

a.profile-menu-buttons:hover, a.profile-menu-buttons:active {
    color: white;
}

.profile-content {
    margin-top: 60px;
    padding-left: 0;
}

.profile-content-cells {
    display:inline-block;
    height: 372px;
    width: 370px;
    margin: 3px;
}

.profile-content-cells img {
    width: 100%;
    height: 100%;  
}

.profile-content-cells a {
    width: inherit;
    height: inherit;
}

.post-preview {
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.post-preview-background {
    position: absolute;
    background-color: black;
    height: inherit;
    width: inherit;
    opacity: 0;
}
.post-preview:hover .post-preview-background {
    opacity: 0.7;
}
.post-preview:hover .post-preview-text {
    opacity: 0.84;
}

.post-preview-text{
    position:absolute;
    opacity: 0;
    margin-top: 150px;
    font-size: 40px;
    font-weight:900;
    width: 370px;
    text-align: center;    
    color: #888;
    background-color: black;

}

.btn-primary1 {
    color: #ffffff;
    background-color: #222222;
    border-color: #080808;
}

.topFiveCommented {
    margin-top: 30px;
    background: #EEE;
    padding: 10px;
    margin: 0;
    float: right;
}

.like {
    position: absolute;
    margin-left: 500px;
    margin-top: 20px;
}

#number-of-likes {
    position: absolute;
    background: none;
    margin-top: 27px;
    margin-left: 470px;
    text-decoration:double;
    font-weight: 800;
    color: grey;
    font-size:inherit;
}
